.selected-event {
    position: fixed;
    top: 8%;
    margin: auto;
    height: 85vh;
    overflow-y: scroll;
    border: 1px solid #ececec;
    border-radius: 5px;
    z-index: 1;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .selected-event {
        width: 80vw;
        left: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px) {
    .selected-event {
        width: 60vw;
        left: 20%;
    }
}

@media screen and (min-width: 1224px) {
    .selected-event {
        width: 40vw;
        left: 30%;
    }
}

.selected-event__title {
    text-align: center;
    border-bottom: 1px solid #ececec;
}

.selected-event__title > h3 {
    margin: 8px 0;
}

.selected-event__deselect {
    cursor: pointer;
    float: right;
    margin-top: -30px;
    border: none;
    background-color: #fff;
}

.selected-event__info {
    margin: 0 30px;
}

.session {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 0;
}
